@model FollowersViewModel
<div class="card">
    <div class="card-body card-body-followers-history-back">
        <div class="d-flex align-items-start ml-4 mb-3 history-back-div-profile">
            <a href="javascript:history.back()" class="me-2"> 
                <i class="fas fa-arrow-left back-post-arrow"></i>
            </a>
            <div>
                <span class="fw-bold back-post-span">@Model.User.Name</span>
                <div>
                    <small>@($"@{Model.User.Username}")</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    @if(Model.Followers.Count > 0)
    {
        @foreach(var follower in Model.Followers)
        {
            <div class="card-body card-body-followers">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="d-flex justify-content-start align-items-start">
                        <a href="/@follower.Username">
                            <img src="~/img/@follower.Image" alt="@follower.Name" class="avatar me-2"/>
                        </a>
                        <div>
                            <div class="d-flex align-items-center">
                                <a href="/@follower.Username" class="tweet-user-name-link">
                                    <h6 class="card-title mb-0 me-1">@follower.Name</h6>
                                </a>
                            </div>
                            <div>
                                <div>
                                    <a href="/@follower.Username" class="tweet-username-link">
                                        <span class="text-muted">@($"@{follower.Username}")</span>
                                        @if(Model.CurrentUser.Username != follower.Username)
                                        {
                                            if(Model.IsFollower[follower.UserId])
                                            {
                                                <span class="follows-you-box text-muted">Follows you</span>
                                            }
                                        }
                                    </a>
                                </div>
                            </div>
                            
                            <p class="card-text mt-2">@follower.Bio</p>
                        </div>
                    </div>
                    <div>
                        @if(Model.CurrentUser.Username != follower.Username)
                        {
                            <form method="post" asp-action="@(Model.IsFollowing[follower.UserId] ? "Unfollow" : "Follow")" asp-controller="Users" class="ms-auto follow-form">
                                <input type="hidden" name="@(Model.IsFollowing[follower.UserId] ? "userIdToUnfollow" : "userIdToFollow")" value="@follower.UserId"/>
                                <button type="submit" class="btn @(Model.IsFollowing[follower.UserId] ? "btn-danger" : "btn-primary") btn-follow-unfollow-custom">
                                    @(Model.IsFollowing[follower.UserId] ? "Unfollow" : "Follow")
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="container custom-container-followers">
            <h3>@($"@{Model.User.Username}") doesn’t have any verified followers.</h3>
            <small>When someone verified follows this account, they’ll show up here.</small>
        </div>
    }
</div>
        
    



