@model ProfileViewModel
<link rel="stylesheet" href="~/css/profile.css">
<div class="card profile-tweet-card">
    <div class="d-flex align-items-center mb-3 history-back-div-profile">
        <a href="javascript:history.back()" class="me-2"> 
            <i class="fas fa-arrow-left back-post-arrow ml-4"></i>
        </a>
        <div>
            <span class="fw-bold back-post-span">@Model.User.Name</span>
            <div>
                @Model.User.Tweets.Where(t => t.IsDeleted == false).Count() Posts
            </div>
        </div>
    </div>
    <div class="cover-photo" style="background: url('img/@Model.User.HeaderImage') no-repeat center center; height: 200px; background-size: cover;"></div>
    <div class="ml-3">
        <div class="d-flex align-items-center">
            <img src="~/img/@Model.User.ImageUrl" alt="Profile Image" class="profile-photo">
            @if (User.Identity != null && User.Identity.IsAuthenticated && Model.User.UserId != int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))
            {
                <form method="post" asp-action="@(Model.IsFollowing ? "Unfollow" : "Follow")" asp-controller="Users" class="ms-auto follow-form">
                    <input type="hidden" name="@(Model.IsFollowing ? "userIdToUnfollow" : "userIdToFollow")" value="@Model.User.UserId"/>
                    <button type="submit" class="btn @(Model.IsFollowing ? "btn-danger" : "btn-primary") btn-follow-unfollow-custom">
                        @(Model.IsFollowing ? "Unfollow" : "Follow")
                    </button>
                </form>
            }
            else
            {
                <a href="/settings/profile" class="ms-auto">
                    <button type="submit" class="btn-primary btn-edit-profile-custom">
                        Edit Profile
                    </button>
                </a> 
            }
        </div>
        <div class="bio">
            <h3>@Model.User.Name</h3>
            <div>
                <span class="text-muted">@($"@{Model.User.Username}")</span>
                @if(Model.IsFollower)
                {
                    <span class="follows-you-box text-muted">Follows you</span>
                }
            </div>
            
            <p>@Model.User.Bio</p>
            @if (!string.IsNullOrEmpty(Model.User.Location))
            {
                <p><i class="fa-solid fa-location-dot"></i> @Model.User.Location</p>
            }
            @if (@Model.User.BirthDate != null && @Model.User.BirthDate != DateTime.MinValue)
            {
                <div style="display: inline-block; margin-right: 20px;">
                    <p><i class="fas fa-birthday-cake"></i> Born @Model.User.BirthDate.ToString("MMMM dd, yyyy")</p>
                </div>
            }
            
            <div style="display: inline-block;">
                <p><i class="fa-solid fa-calendar-days"></i> Joined @Model.User.RegistrationDate.ToString("MMMM yyyy")</p>
            </div>
            
        </div>
        <div class="mt-2">
            <a href="@Model.User.Username/Following" class="profile-followers-link"><strong>@Model.User.Following.Count() </strong><small class="profile-statistics">Following</small></a>
            <a href="@Model.User.Username/Followers" class="profile-followers-link"><strong class="followers-count">@Model.User.Followers.Count() </strong><small class="profile-statistics">Followers</small></a>
        </div>
    </div>
    <div class="mt-4">
        <div class="btn-group tweet-button-group" role="group" aria-label="Tweet Navigation">
            <a href="/@Model.User.Username" class="@(Model.Tab == "" ? "active" : "" )">
                Posts
            </a>
            <a href="/@Model.User.Username/with_replies" class="@(Model.Tab == "replies" ? "active" : "" )">
                Replies
            </a>
            
            @if(Model.User.UserId == Model.CurrentUser.UserId)
            {
                <a href="/@Model.User.Username/likes" class="@(Model.Tab == "likes" ? "active" : "" )">
                    Likes
                </a>
            }
        </div>
        @if(Model.Tab == "likes")
        {
            <vc:profile-likes is-profile-page="true" username="@Model.User.Username"></vc:profile-likes>
        }
        else if(Model.Tab == "replies")
        {
            <vc:tweets is-profile-page="true" username="@Model.User.Username"></vc:tweets>
        }
        else
        {
            <vc:profile-tweets is-profile-page="true" username="@Model.User.Username"></vc:profile-tweets>
        }
    </div>
</div>


